@import url(../css/header.css);
@import url(../css/main.css);
@import url(../css/footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.3;
}

body {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #fff;
}

a,
li,
button,
select {
    text-decoration: none;
    font-style: none;
    list-style: none;
    border: none;
    color: #000;
    font-size: 1.2rem
}

h2 {
    font-size: 2rem;
    padding: 30px 0;
    margin: 10px 0;
}