header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 11px;
	z-index: 10;
	width: 100%;
	background-color: #023535;
	flex-wrap: wrap;
	opacity: 0.9;
}


header a img {
	width: 45px;
}

header a:nth-child(1) {
	display: flex;
	align-items: center;
	gap: 8px;
}

header nav ul {
	gap: 20px;
}


.gap-div {
	gap: 15px;
}

.gap-login {
	gap: 7px;
}

header nav ul li a img,
header div a img {
	width: 20px;
	height: 20px;
}

header p {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #fff;
}

select,
option {
	background-color: transparent;
	outline: none;
	color: #fff;
	font-size: 1.4rem;
}

@media (max-width: 1260px) {
	nav ul li a p {
		display: none;
	}

	nav ul li {
		padding: 8px;
	}

	#login_check+label p {
		display: none;
	}
}