#page-section {
  padding-top: 75px;
 
}


section article #hotel01 {
  display: flex;
  align-items: center;
  background-color: #023535;
 }

#hotel01 img {
  width: 700px;
  height: 800px;
  margin-right: -150px;
  padding:12px;
  border-radius: 2em;
}


#about-text {
      background-color: #5dc4c8;
      color: #023535;
      padding:20px;
      z-index:1;
      border: 2px solid black;
      border-radius: 20px;
}

#about-text:hover {
      transform: scale(1.05);
    }


#titles-sobre{
  margin:0px;
}

#box {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
 }

 .box:hover {
      transform: scale(1.02);
      opacity: 100%;
    }

div .box {
  display:inline-block;
  background-color: #5dc4c8;
  border: 4px solid #023535;
  border-radius: 20px;
  width: 409px; 
  height: 300px;
  align-items: center;
  align-content: space-between;
  opacity: 80%;
  
}

div .box{
  text-align: center;
  color: #023535;
  font-family: "Nunito", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;

}

div .box img{
  width: 30px;
  height: 30px;
 
}



 