/* Banner */

.bannerGastronomia {
    background-image: url("../../images/gastronomia/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 205px 0px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    opacity: .8;
}

.text-banner {
    display: block;
    z-index: 1;
    opacity: 1;
}

.text-banner h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.text-banner p{
    font-size: 1.8rem;
    color: #fff;
}