
/*Carrossel inicial*/
.hotel {
    
    position: absolute;
    align-items: center;
    bottom: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%);
    color: #fff;
    font-size: 2.8rem;

}
.carousel {
height: 100vh;
width: 100%;
overflow: hidden;
position: relative;

}

.navigation {
position: absolute;
bottom: 20px;
left: 50%;
display: flex;
transform: translate(-50%);
}

.bar {
width: 70px;
height: 17px;
border: 2px solid #fff;
margin: 6px;
border-radius: 5px;
cursor: pointer;
transition: .4s;
}

.bar:hover {
background-color: #fff;

}

.input-sobre {
display: none;
}

.slides {
display: flex;
width: 500%;
height: 100%;
}

.slide {
width: 20%;
transition: .6s;
}

.slide img {
width: 100%;
height: 100%;
}

#slide1:checked ~ .s1{
margin-left: 0;

}

#slide2:checked ~ .s1{
margin-left: -20%;

}

#slide3:checked ~ .s1{
margin-left: -40%;

}

#slide4:checked ~ .s1{
margin-left: -60%;

}

#slide5:checked ~ .s1{
margin-left: -80%;

}

