.container-page-reserva {
  max-width: 1250px;
  margin: 30px auto;
  position: relative;
  padding: 10px 0px;
}

.slogan {
  position: relative;
  background-color: var(--color-light-black);
  background-image: url("../../../images/reserva/de2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 26vh;
}

/* div da reserva horizontal*/
.div-reserva-superior {
  position: relative;
  bottom: 96px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.div-reserva {
  background-color: #023535;
  max-width: 800px;
  padding: 20px;
  opacity: 0.92;
}

.container-check{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.card-check{
    display: grid;
    place-items: center;
}
.button-a {
  color: white;
  background-image: linear-gradient(to top, #015958, #016664);
  padding: 6.3px 10px 6.3px 10px;
  margin-left: 18px;
  font-weight: bold;
  opacity: 0.92;
}

.button-a:hover {
  background-image: linear-gradient(to bottom, #015958, #008f8c);
}

.button-c {
  color: white;
  background-image: linear-gradient(to top, #015958, #016664);
  padding: 6.3px 10px 6.3px 10px;
  font-weight: bold;
  opacity: 0.92;
  max-width: 140px;
}

.button-c:hover {
  background-image: linear-gradient(to bottom, #015958, #008f8c);
}


.select-apartamento {
  padding: 8px;
  width: 114px;
  margin-right: 18px;
  margin-left: 5px;
}


@font-face {
  src: url(../../../fonts/KaushanScript-Regular.ttf);
  font-family: "KaushanScript-Regular";
  font-weight: normal;
}

.texto-reserva {
  color: white;
  font-family: "KaushanScript-Regular";
  font-size: 1.7rem;
  padding: 5px;
  text-align: center;
}

/* navegação imagens */

.image-text {
  display: flex;
  column-gap: 18px;
  padding: 21px;
}

.image-reserva {
  width: 300px;
}

.div-pa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-main {
  display: flex;
  margin-top: 0;
}

.image-text-pai {
  width: 60%;
}

.resumo_reserva {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/reserva/pe2.jpg);
  background-size: cover;
  text-align: center;
  opacity: 0.8;
}

.resumo_reserva:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.resumo_reserva div {
  width: 300px;
  height: 380px;
  margin: 10% auto;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7));
  position: relative;
}

.a-servicos {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: underline;
}

.a-servicos:hover {
  font-weight: bold;
}

.resumo_reserva p {
  position: relative;
  top: 10px;
  padding: 10px;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}

.resumo_reserva div input {
  opacity: 0.9;
  font-size: 0.95rem;
  border: none;
}

.resumo_reserva div input:focus {
  outline: none;
  opacity: 1;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.resumo-direita {
  font-size: 2.6rem;
  color: white;
  text-align: center;
  top: 200px;
  font-weight: normal;
  font-family: "KaushanScript-Regular";
}

.resumo_reserva div {
  width: 300px;
  height: 430px;
  margin: 10% auto;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7));
  position: relative;
}

.button-b {
  color: white;
  padding: 16.3px 14px 16.3px 14px;
  font-weight: bold;
  top: 27px;
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.8));
}

.button-b:hover {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6));
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .container-main {
    flex-direction: column;
  }

  .image-text-pai {
    width: 100%;
  }

  .image-text {
    display: block;
    padding: 5px;
  }

  .image-reserva {
    width: 100%;
  }

  .div-pa {
    margin: 25px 0px;
    gap: 16px;
  }

  .resumo_reserva {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .image-text-pai {
    width: 100%;
  }

  .dash {
    height: 5px;
    background-color: #023535;
    width: 500px;
    margin: 10px 0 40px 0px;
  }

  .container-quartos {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}