@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


ul,
li,
button,
select,
a,
input,
select,
option {
    text-decoration: none;
    list-style: none;
    border: 0;
    color: #000;    

}

.container {
    max-width: 1160px;
    margin: 10px auto;

}

.padding {
    padding: 60px 0px;
}

button {
    display: block;
    margin: 30px 0px;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    background-color: #008F8C;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: #0FC2C0;
}