@import url('../home/header.css');
@import url('../home/main.css');
@import url('../home/footer.css');
@import url('../login/login.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

html {
	scroll-behavior: smooth;
}

ul,
li,
button,
select,
a,
input,
select,
option {
	text-decoration: none;
	list-style: none;
	border: 0;
}

.container {
	max-width: 1250px;
	margin: 10px auto;
	position: relative;
}

.padding {
	padding: 50px 0px;
}

.relative {
	position: relative;
}

button {
	display: block;
	margin: 30px 0px;
	width: 130px;
	height: 50px;
	border-radius: 50px;
	background-color: #008f8c;
	color: #fff;
	font-size: 1.2rem;
	transition: 0.3s;
	cursor: pointer;
}

button:hover {
	-webkit-box-shadow: 0px 0px 42px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 42px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 42px -7px rgba(0, 0, 0, 0.75);
}

button:hover {
	background-color: #0fc2c0;
}
